.bg{
  /* background-color: green; */
  height: 662px;
  width: 100%;
}

.disp{
  padding-top: 50px;
 height: 200px;
 width: 800px;
  /* background-color: greenyellow; */
}
.display{
  /* background-color: greenyellow; */
}
@media screen and (max-width:740px) {

  .bg{
    background-color: green;
    height: 662px;
    width: 100%;
  }

  .disp{
    padding-top: 50px;
   height: 200px;
   width: 95%;
    
  }
  
}