.bg{
  background-color: green;
  height: 662px;
  width: 100%;
}

.disp{
  padding-top: 50px;
  height: 450px;
  width: 100px;
  /* background-color: greenyellow; */
}
.display{
  background-color: greenyellow;
}